{% extends "layouts/base.html" %}

{% block title %} PEM Analyzer {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">PEM Data Analyzer</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Analyzer</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">PEM Analyze</a>
					</li>
				</ul>
				
			</div>

			{% for message in get_flashed_messages() %}
 			<div class="alert alert-warning">
 				<button type="button" class="close" data-dismiss="alert">&times;</button>
 					{{ message }}
 			</div>
 			{% endfor %}



			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Decode PRM/ASN.1 Data</h4>
						</div>

						<div class="card-body n-5">
							<form method="post" action="" enctype="multipart/form-data">	
							<div class="form-group ">
							
								
								
								<div class="form-group">
									<label for="exampleFormControlFile1">Input File</label>
									<input type="file" class="form-control-file" id="exampleFormControlFile1" name="inputfile">
								</div>

									<!--ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#in-text" role="tab" aria-controls="pills-home" aria-selected="false">Text</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#in-file" role="tab" aria-controls="pills-profile" aria-selected="true">File</a>
										</li>
										
									</ul>

									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade show active" id="in-text" role="tabpanel" aria-labelledby="pills-home-tab">
											<textarea class="form-control" id="pem-data" rows="10" name="inputtext">{{inputtext}}</textarea>
										</div>

										<div class="tab-pane fade" id="in-file" role="tabpanel" aria-labelledby="pills-profile-tab" name="infile-tab">
											
											<div class="form-group">
												<label for="exampleFormControlFile1">Input File</label>
												<input type="file" class="form-control-file" id="exampleFormControlFile1" name="inputfile">
											</div>
											
										</div>
									</div-->
							

								<div class="form-group">
									<p class="demo">
											
										<button class="btn btn-primary" type="submit" name="action" value="analyze"><span class="btn-label"><i class="fa fa-check"></i></span>
											ASN.1 Parse
										</button>

		
									</p>
								</div>

							</form>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">ASN.1 Result</h4>
							
						</div>
						<div class="card-body">
							<p class="demo">
								<div class="form-group">

									{% if errtype == 'error' %}
										<p class="text-danger">{{ errmsg }}</p>
									{% endif %}

								    <textarea class="form-control" id="pem-data-parsed" rows="10">{% autoescape false %}{{result}}
									{% endautoescape %}
									</textarea>
							    </div>
							</p>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>


	<textarea>
		RSA Public Key

-----BEGIN RSA PUBLIC KEY-----
-----END RSA PUBLIC KEY-----
Encrypted Private Key

-----BEGIN RSA PRIVATE KEY-----
Proc-Type: 4,ENCRYPTED
-----END RSA PRIVATE KEY-----
CRL

-----BEGIN X509 CRL-----
-----END X509 CRL-----
CRT

-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----
CSR

-----BEGIN CERTIFICATE REQUEST-----
-----END CERTIFICATE REQUEST-----
NEW CSR

-----BEGIN NEW CERTIFICATE REQUEST-----
-----END NEW CERTIFICATE REQUEST-----
PEM

-----END RSA PRIVATE KEY-----
-----BEGIN RSA PRIVATE KEY-----
PKCS7

-----BEGIN PKCS7-----
-----END PKCS7-----
PRIVATE KEY

-----BEGIN PRIVATE KEY-----
-----END PRIVATE KEY-----
DSA KEY

-----BEGIN DSA PRIVATE KEY-----
-----END DSA PRIVATE KEY-----
Elliptic Curve

-----BEGIN EC PRIVATE KEY-----
-----BEGIN EC PRIVATE KEY-----
PGP Private Key

-----BEGIN PGP PRIVATE KEY BLOCK-----
-----END PGP PRIVATE KEY BLOCK-----
PGP Public Key

-----BEGIN PGP PUBLIC KEY BLOCK-----
-----END PGP PUBLIC KEY BLOCK-----
	</textarea>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
