{% extends "layouts/base.html" %}

{% block title %} CRYPTOENCODE -  Symmetric Encryption , Symmetric Encode {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">암/복호화</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">암/복호화t</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">대칭키암호화</a>
					</li>
				</ul>
			</div>

			{% if errtype and errmsg %}
 			<div class="alert alert-warning">
 				<button type="button" class="close" data-dismiss="alert">&times;</button>
 					ERROR: {{ errmsg }}
 			</div>
 			{% endif %}

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">파일 암호화</h4>
							
						</div>
						<div class="card-body">

							

							<form method="post" action="" enctype="multipart/form-data">
								<!--div class="form-group">
									<span class="h2">대칭키 파일 암호화</span>
									<ul>
										<li>표쥰 AES(Advanced Encryption Standard) 알고리즘을 사용하여 파일을 암호화하며 128/192/256비트 키 길이를 선택할 수 았습니다.</li>
										<li>대칭키는 공개키 알고리즘에 비해 속도가 매우 빠르기 때문이 파일이나 데이터베이스 등 대량의 암호화에 적합합니다. </li>
									</ul>

									<details>
										<summary>
											암호 모드(Encryption Mode)
										</summary>
										<span>
											<ul>
												<li>CBC: Cipher Block Chaining Mode</li>
												<li>ECB: Electronic Code Block Mode</li>
												<li>CFB: Cipher FeedBack Mode</li>
												<li>OFB: Output FeedBack Mode</li>
												<li>CTR: CounTeR Mode</li>
											</ul>
										</span>

									</details>
								    
								</div-->
								
								<div class="form-group">
								    <label for="exampleFormControlFile1">파일</label>
								    <input type="file" name="plainfile" class="form-control-file" id="exampleFormControlFile1" required>
								</div>
								
								<div class="form-group">
									<label for="defaultSelect">알고리즘 선택</label>
									<select class="form-control form-control" name="enc_alg" id="defaultSelect">
										{%for alg in aes_alg_list%}
											<option value="{{alg}}">{{alg}}</option>
										{%endfor%}
										
									</select>
								</div>

								<div class="form-group">
									<label for="password">패스워드</label>
									<input type="password" class="form-control" id="password" placeholder="Password" required> 
								</div>

								<div class="form-group">
									<label for="password">패스워드 확인</label>
									<input type="password" class="form-control" id="confirm" placeholder="Password" required>
									
								</div>

								<script type="text/javascript">
									function Validate() {
										var password = document.getElementById("password").value;
										var confirmPassword = document.getElementById("confirm").value;
										if (password != confirmPassword) {
											alert("Passwords do not match.");
											return false;
										}
										return true;
									}
								</script>


								<div class="form-group">
									<p class="demo">
											
										<button class="btn btn-primary btn-round btn-border" type="submit" name="cipher" value="enc" onclick="return Validate()" > 
											<span class="btn-label"><i class="fa fa-check"></i></span>
											암호화
										</button>

		    							<button class="btn btn-secondary  btn-round btn-border" type="submit" name="cipher" value="dec"onclick="return Validate()"  >
											<span class="btn-label"><i class="fas fa-circle-notch"></i></span>
											복호화
										</button>
		
									</p>
								</div>

							
						    </form>
						</div>
					</div>
				</div>

				
			</div>



			<div class="row">
				<div class="col-md-12">


					<div class="card">
						<div class="card-header">
							<h4 class="card-title">추가 정보</h4>
						</div>
						<div class="card-body">
							<div class="form-group">
								<span class="h2">대칭키 파일 암호화</span>
									<ul>
										<li>표쥰 AES(Advanced Encryption Standard) 알고리즘을 사용하여 파일을 암호화하며 128/192/256비트 키 길이를 선택할 수 았습니다.</li>
										<li>대칭키는 공개키 알고리즘에 비해 속도가 매우 빠르기 때문이 파일이나 데이터베이스 등 대량의 암호화에 적합합니다. </li>
									</ul>

									<details>
										<summary>
											암호 모드(Encryption Mode)
										</summary>
										<span>
											<ul>
												<li>CBC: Cipher Block Chaining Mode</li>
												<li>ECB: Electronic Code Block Mode</li>
												<li>CFB: Cipher FeedBack Mode</li>
												<li>OFB: Output FeedBack Mode</li>
												<li>CTR: CounTeR Mode</li>
											</ul>
										</span>

									</details>
						</div>	
					</div>
				</div>

				
	
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
