{% extends "layouts/base.html" %}

{% block title %} PKCS12 Analyzer {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">PKCS12 Data Analyzer</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Analyzer</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">pkcs12</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Select PKCS12(pfx) file to analyze</h4>
							
						</div>
						<div class="card-body">
							<div class="form-group">
								
								<div class="form-group">
									<label for="exampleFormControlFile1">PKCS12 file input(.pfx/.p12)</label>
									<input type="file" class="form-control-file" id="exampleFormControlFile1">
								</div>

								<div class="form-group">
									<p class="demo">
											
										<button class="btn btn-primary"><span class="btn-label"><i class="fa fa-check"></i></span>
											Analyze
										</button>

		    							<button class="btn btn-secondary"><span class="btn-label"><i class="fas fa-circle-notch"></i></span>
											Clear
										</button>
		
									</p>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">PEM Analyze Result</h4>
						</div>

						<div class="card-body">
							<div class="form-group">
								<label for="password">Input password</label>
								<input type="password" class="form-control" id="password" placeholder="Password">
							</div>
							<div class="form-group">
								<label for="password">Output Password</label>
								<input type="password" class="form-control" id="password" placeholder="Password">
							</div>
						</div>

					</div>
				</div>
				

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">PKCS12 Objects</h4>
						</div>
						<div class="card-body">
							<p class="demo">
								<div class="form-group">
									<label for="defaultSelect">User Certificate</label>
								</div>
								<div class="form-group">
								    <textarea class="form-control" id="pem-data-parsed" rows="5"></textarea>
							    </div>
							</p>

							<p class="demo">
								<div class="form-group">
									<label for="defaultSelect">Private Key</label>
								</div>
								<div class="form-group">
								    <textarea class="form-control" id="pem-data-parsed" rows="5">{{cert_pem_parsed}}</textarea>
							    </div>
							</p>

							<p class="demo">
								<div class="form-group">
									<label for="defaultSelect">CA Certificate</label>
								</div>
								<div class="form-group">
								    <textarea class="form-control" id="pem-data-parsed" rows="5"></textarea>
							    </div>
								
							</p>

							<div class="form-group">
								<button class="btn btn-default"><span class="btn-label"><i class="fas fa-arrow-down"></i></span>
									Download User Certificate 
								</button>
								<button class="btn btn-default"><span class="btn-label"><i class="fas fa-arrow-down"></i></span>
									Download Private Key  
								</button>
								<button class="btn btn-default"><span class="btn-label"><i class="fas fa-arrow-down"></i></span>
									Download CA Certificate  
								</button>

								<button class="btn btn-primary"><span class="btn-label"><i class="icon-present"></i></span>
									Generate PKCS12 file and download
								</button>
							</div>

						</div>
						
					</div>
				</div>

				<!--div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Private Key</h4>
						</div>
						<div class="card-body">
							<p class="demo">
								<div class="form-group">
								    <textarea class="form-control" id="pem-data-parsed" rows="5"></textarea>
							    </div>
								<div class="form-group">
									<button class="btn btn-default"><span class="btn-label"><i class="fas fa-arrow-down"></i></span>
										Download
									</button>
							    </div>
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">CA Certificate</h4>
						</div>
						<div class="card-body">
							<p class="demo">
								<div class="form-group">
								    <textarea class="form-control" id="pem-data-parsed" rows="5"></textarea>
							    </div>
								<div class="form-group">
									<button class="btn btn-default"><span class="btn-label"><i class="fas fa-arrow-down"></i></span>
										Download
									</button>
							    </div>
							</p>
						</div>
					</div>
				</div-->
				
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
