{% extends "layouts/base.html" %}

{% block title %} CRYPTOENCODE -  Base64, Encryption, Decryption, Encode, Decode   {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">BASE64</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">인코더</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">BASE64</a>
					</li>
				</ul>
			</div>

			{% if errtype and errmsg %}
 			<div class="alert alert-warning">
 				<button type="button" class="close" data-dismiss="alert">&times;</button>
 					ERROR: {{ errmsg }}
 			</div>
 			{% endif %}

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Base64 인코딩/디코딩</h4>
							
						</div>

						
						




						<div class="card-body">

							<div class="form-group">
								<h4 class="card-title">보안 메시지의 중요성</h4>
								<ul>
									<li>
								주요 사항에 대해서 카카오톡과 같은 각종 SNS을 통한 주요 메시지를 전달할때,
									메일을 통한 주요 내용을 전송할때 기존의 텍스트로 전송시 보안의 취약점으로 인해 
									악의적인 사용자에게 유출될 가능성이 있습니다.</li>
								<li>SNS와 메일등의 커뮤니케이션툴 사용시 해당 메시지를 Base64등의 알고리즘으로 암호화 하여암호화된 코드를 커뮤니케이션툴을 통해 전송하고, 패스워드를 별도로 전송하여 보안성을 획기적으로
									높일 수 있습니다.
								</li>
								</ul>
							</div>
							
							<form method="post" action="">
								<div class="form-group">
									<label for="defaultSelect">알고리즘</label>
			
									<select class="form-control form-control" id="alg" name="alg">
										<option value="b64">Base-64</option>
										<option value="b16">Base-16</option>
										<option value="b32">Base-32</option>
										<option value="a85">Ascii-85</option>
										<option value="b85">Base-85</option>
									</select>
								</div>

								<div class="form-group">
								    <textarea class="form-control" name="inputtext" id="inputtext" rows="5" required>{{inputtext}}</textarea>
							    </div>

								<div class="form-group">
										<button class="btn btn-primary btn-round btn-border" type="submit" name="action" value="encode"><span class="btn-label"><i class="fa fa-check"></i></span>
											인코딩
										</button>
										<button class="btn btn-secondary  btn-round btn-border" type="submit" name="action" value="decode"><span class="btn-label"><i class="fa fa-check"></i></span>
											디코딩
										</button>
		    							<button class="btn btn-warning  btn-round btn-border" type="submit" name="action" value="clear"><span class="btn-label"><i class="fas fa-circle-notch"></i></span>
											화면 지우기
										</button>
								</div>
							</form> 
						</div>
					</div>
				</div>

				{%if result%}
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">인코딩 결과</h4>
						</div>
						<div class="card-body">
							<!--div class="form-group">
							    <textarea class="form-control" id="pem-data-parsed" rows="10">{% autoescape false %}{{result}}{% endautoescape %}
								</textarea>
						    </div-->
							<pre>{{result}}</pre>
						</div>	
					</div>
				</div>
				{%endif%}

	
			</div>


			<div class="row">
				<div class="col-md-12">


					<div class="card">
						<div class="card-header">
							<h4 class="card-title">추가 정보</h4>
						</div>
						<div class="card-body">
							<div class="form-group">
								<span class="h4">BASE64 인코딩</span>
								<p>Base64 인코딩은 바이너리 데이터를 텍스트로 표현하는데 가장 널리 사용되고 있습니다. 인코딩된 데이터는 바이너리를 전달하기 어려운 상황에서 원본데이터를 전달하는데 유용합니다.</p>
								<p>이메일 프로토콜에서 사용되고 있으며 UTF-8과 같은 바이너리 데이터 전달에 매우 윺용합니다.</p>
								
								<span class="h4">세부사항</span>
								<ul>
									
									
									<li>설계</li>
									<p>Base64는 바이너리를 정해진 64개의 글자만을 이용하여 표현합니다. 일반적으로 1) 대부분의 인코딩 규칙에 공통적으로 사용되는 하위 집합의 일부이고 2) 인쇄도 가능한 64자 글자를 이용합니다. 
										이 조합으로 인해 데이터는 전통적으로 8비트가 아닌 이메일과 같은 시스템을 통해 전송 중에 수정될 가능성이 거의 없습니다. 예를 들어, MIME의 Base64 구현은 처음 62개 값에 A-Z, a-z 및 0-9를 사용하고 마지막 두 값에 "+" 및 "/"를 사용합니다.
									<li>예제</li>
									<p>다음은 위키피디아의 사례입니다. </p>
									<p class="text-primary">Man is distinguished, not only by his reason, but by this singular passion from other animals, which is a lust of the mind, that by a perseverance of delight in the continued and indefatigable generation of knowledge, exceeds the short vehemence of any carnal pleasure.</p>
									<p>위 문장은 base 64를 통해 다음 구문으로 인코딩됩니다.</p>
									<p class="text-primary">TWFuIGlzIGRpc3Rpbmd1aXNoZWQsIG5vdCBvbmx5IGJ5IGhpcyByZWFzb24sIGJ1dCBieSB0
										aGlzIHNpbmd1bGFyIHBhc3Npb24gZnJvbSBvdGhlciBhbmltYWxzLCB3aGljaCBpcyBhIGx1
										c3Qgb2YgdGhlIG1pbmQsIHRoYXQgYnkgYSBwZXJzZXZlcmFuY2Ugb2YgZGVsaWdodCBpbiB0
										aGUgY29udGludWVkIGFuZCBpbmRlZmF0aWdhYmxlIGdlbmVyYXRpb24gb2Yga25vd2xlZGdl
										LCBleGNlZWRzIHRoZSBzaG9ydCB2ZWhlbWVuY2Ugb2YgYW55IGNhcm5hbCBwbGVhc3VyZS4=</p>
									<p>참고로 문장의 'Man is'룰 인코딩한 예를 아래의 표로 정리했습니다. .</p>
									<p>이 예에서 알 수 있듯이 Base64 인코딩은 3개의 인코딩되지 않은 바이트(이 경우 ASCII 문자)를 4개의 인코딩된 ASCII 문자로 변환합니다.</p>
									<div class="container float-left">
											<img src="/static/assets/img/base64_sample_man.png" width="600" class="img-fluid">
									</div>
									<br>
			
								</ul>
			
							</div>
						</div>	
					</div>
				</div>

				
	
			</div>


		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
