{% extends "layouts/base.html" %}

{% block title %}  CRYPTOENCODE -  ECC Privat Key, Encryption Key, Decryption Key, Encode Key, Decode Key {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Elliptic Curve Private Key</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Generators</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">ECC Key</a>
					</li>
				</ul>
			</div>

			{% if errtype and errmsg %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ errmsg }}
			</div>
			{% endif %}


			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Generate EC Private Key</h4>
						</div>

						<div class="card-body">
						<form method="post" action="">

							<div class="form-group">
								<ul>
									<li>Public-key cryptography is based on the intractability of certain mathematical problems. Early public-key systems based their security on the assumption that it is difficult to factor a large integer composed of two or more large prime factors. For later elliptic-curve-based protocols, the base assumption is that finding the discrete logarithm of a random elliptic curve element with respect to a publicly known base point is infeasible: this is the "elliptic curve discrete logarithm problem" (ECDLP). The security of elliptic curve cryptography depends on the ability to compute a point multiplication and the inability to compute the multiplicand given the original and product points. The size of the elliptic curve, measured by the total number of discrete integer pairs satisfying the curve equation, determines the difficulty of the problem.</li>
									<li>The U.S. National Institute of Standards and Technology (NIST) has endorsed elliptic curve cryptography in its Suite B set of recommended algorithms, specifically elliptic-curve Diffie–Hellman (ECDH) for key exchange and Elliptic Curve Digital Signature Algorithm (ECDSA) for digital signature. The U.S. National Security Agency (NSA) allows their use for protecting information classified up to top secret with 384-bit keys.However, in August 2015, the NSA announced that it plans to replace Suite B with a new cipher suite due to concerns about quantum computing attacks on ECC.</li>
									<li>While the RSA patent expired in 2000, there may be patents in force covering certain aspects of ECC technology. However some argue that the US government elliptic curve digital signature standard (ECDSA; NIST FIPS 186-3) and certain practical ECC-based key exchange schemes (including ECDH) can be implemented without infringing them, including RSA Laboratories[4] and Daniel J. Bernstein.[5]</li>
									<li>The primary benefit promised by elliptic curve cryptography is a smaller key size, reducing storage and transmission requirements,[6] i.e. that an elliptic curve group could provide the same level of security afforded by an RSA-based system with a large modulus and correspondingly larger key: for example, a 256-bit elliptic curve public key should provide comparable security to a 3072-bit RSA public key.</li>
								</ul>
							</div>

							<div class="form-group">
								<details>
									<summary>
										Theory
									</summary>
									<span>
										<div class="form-group">

											<p>For current cryptographic purposes, an <i>elliptic curve</i> is a <a href="/wiki/Plane_curve" title="Plane curve">plane curve</a> over a <a href="/wiki/Finite_field" title="Finite field">finite field</a> (rather than the real numbers) which consists of the points satisfying the equation:
											</p>
											<dl><dd><span class="mwe-math-element"><span class="mwe-math-mathml-inline mwe-math-mathml-a11y" style="display: none;"><math xmlns="http://www.w3.org/1998/Math/MathML"  alttext="{\displaystyle y^{2}=x^{3}+ax+b,\,}">
											<semantics>
											<mrow class="MJX-TeXAtom-ORD">
											<mstyle displaystyle="true" scriptlevel="0">
											<msup>
											<mi>y</mi>
											<mrow class="MJX-TeXAtom-ORD">
											<mn>2</mn>
											</mrow>
											</msup>
											<mo>=</mo>
											<msup>
											<mi>x</mi>
											<mrow class="MJX-TeXAtom-ORD">
											<mn>3</mn>
											</mrow>
											</msup>
											<mo>+</mo>
											<mi>a</mi>
											<mi>x</mi>
											<mo>+</mo>
											<mi>b</mi>
											<mo>,</mo>
											<mspace width="thinmathspace" />
											</mstyle>
											</mrow>
											<annotation encoding="application/x-tex">{\displaystyle y^{2}=x^{3}+ax+b,\,}</annotation>
											</semantics>
											</math></span><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/fc86af15bc8199a9f34988f2928839b91d3ddd88" class="mwe-math-fallback-image-inline" aria-hidden="true" style="vertical-align: -0.671ex; width:17.969ex; height:3.009ex;" alt="y^{2}=x^{3}+ax+b,\,"/></span></dd></dl>
											<p>along with a distinguished <a href="/wiki/Point_at_infinity" title="Point at infinity">point at infinity</a>, denoted ∞. The coordinates here are to be chosen from a fixed <a href="/wiki/Finite_field" title="Finite field">finite field</a> of <a href="/wiki/Characteristic_(algebra)#Case_of_fields" title="Characteristic (algebra)">characteristic</a> not equal to 2 or 3, or the curve equation will be somewhat more complicated.
											</p><p>This set together with the <a href="/wiki/Elliptic_curve#The_group_law" title="Elliptic curve">group operation of elliptic curves</a> is an <a href="/wiki/Abelian_group" title="Abelian group">abelian group</a>, with the point at infinity as an identity element. The structure of the group is inherited from the <a href="/wiki/Divisor_(algebraic_geometry)" title="Divisor (algebraic geometry)">divisor group</a> of the underlying <a href="/wiki/Algebraic_variety" title="Algebraic variety">algebraic variety</a>:
											</p>
											<dl><dd><span class="mwe-math-element"><span class="mwe-math-mathml-inline mwe-math-mathml-a11y" style="display: none;"><math xmlns="http://www.w3.org/1998/Math/MathML"  alttext="{\displaystyle \mathrm {Div} ^{0}(E)\to \mathrm {Pic} ^{0}(E)\simeq E,\,}">
											<semantics>
											<mrow class="MJX-TeXAtom-ORD">
											<mstyle displaystyle="true" scriptlevel="0">
											<msup>
											<mrow class="MJX-TeXAtom-ORD">
											<mi mathvariant="normal">D</mi>
											<mi mathvariant="normal">i</mi>
											<mi mathvariant="normal">v</mi>
											</mrow>
											<mrow class="MJX-TeXAtom-ORD">
											<mn>0</mn>
											</mrow>
											</msup>
											<mo stretchy="false">(</mo>
											<mi>E</mi>
											<mo stretchy="false">)</mo>
											<mo stretchy="false">&#x2192;<!-- → --></mo>
											<msup>
											<mrow class="MJX-TeXAtom-ORD">
											<mi mathvariant="normal">P</mi>
											<mi mathvariant="normal">i</mi>
											<mi mathvariant="normal">c</mi>
											</mrow>
											<mrow class="MJX-TeXAtom-ORD">
											<mn>0</mn>
											</mrow>
											</msup>
											<mo stretchy="false">(</mo>
											<mi>E</mi>
											<mo stretchy="false">)</mo>
											<mo>&#x2243;<!-- ≃ --></mo>
											<mi>E</mi>
											<mo>,</mo>
											<mspace width="thinmathspace" />
											</mstyle>
											</mrow>
											<annotation encoding="application/x-tex">{\displaystyle \mathrm {Div} ^{0}(E)\to \mathrm {Pic} ^{0}(E)\simeq E,\,}</annotation>
											</semantics>
											</math></span><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/59c3e49d2c4bc845022d15d0d1b327e806086312" class="mwe-math-fallback-image-inline" aria-hidden="true" style="vertical-align: -0.838ex; width:25.712ex; height:3.176ex;" alt="{\displaystyle \mathrm {Div} ^{0}(E)\to \mathrm {Pic} ^{0}(E)\simeq E,\,}"/></span></dd></dl>
										</div>

									</span>

								</details>
							</div>

							<div class="form-group">

								<div class="form-group">
									<label for="exampleFormControlFile1">Elliptic Curve Parameter</label>
									<select class="form-control form-control" id="keylen" name="keylen">
										{% for element in ecc_curves %}
										<option value={{element}}>{{ element }} </option>
  										{% endfor %}
									</select>
								</div>	
									

								<div class="form-group ">
									<div class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="encrypt_option" value="enc">
											<span class="form-check-sign">Encrypt private key</span>
										</label>
									</div>
									<div class="input-group">
										<input type="password" class="form-control" name="inpass" id="inpass" aria-label="Text input with dropdown button" placeholder="Password">
										<div class="input-group-append">
											<button class="btn btn-default btn-border" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Encryption Algorithm</button>
											<select class="form-control form-control" id="pem_selected" name="enc_alg">
												{% for element in aes_alg_list %}
      												<option value="{{element}}">{{ element  }} </option>
  												{% endfor %}
											</select>
										</div>
									</div>
								</div>

								

								<div class="form-group">
									<button class="btn btn-primary btn-round btn-border" type='submit' name="action" value='generate'><span class="btn-label"><i class="fa fa-check"></i></span>
										Generate Private Key
									</button>
								</div>
							</div>
						</form>

						</div> <!--card-->

						

					</div>

	<form method="post" action="">					
					{%if prikey_pem%}
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">EC Private Key</h4>
						</div>
						<div class="card-body">
							<!--form method="post" action=""-->
								<div class="form-group">
									<label for="exampleFormControlFile1">EC Parameter</label>
									<textarea class="form-control" id="pem-data-parsed"  name="ecparam" rows=1 style="border:none resize:none {{env.textarea_style}}" readonly>{{keylen}}
									</textarea>
								</div>


								<div class="form-group">
									<textarea class="form-control" id="pem-data-parsed"  name="prikey_pem" rows=10 style="font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;white-space:pre-wrap">{{prikey_pem}}
									</textarea>
								</div>
								<div class="form-group">
									<button class="btn btn-primary btn-round btn-xs" type='submit' name="action" value='download_prikey'><span class="btn-label"><i class="fa fa-check"></i></span>
										Download ec private key
									</button>
								</div>
							<!--/form-->
						</div>	
						
					</div>
					{%endif%}

					{%if pubkey_pem%}
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">EC Public Key</h4>
						</div>
						<div class="card-body">
							<!--form method="post" action=""-->
								
								<div class="form-group">
									<textarea class="form-control" id="pem-data-parsed"  name="pubkey_pem" rows=10 style="{{env.textarea_style}}">{{pubkey_pem}}
									</textarea>
								</div>
								<div class="form-group">
									<button class="btn btn-primary  btn-round  btn-xs" type='submit' name="action" value='download_pubkey'><span class="btn-label"><i class="fa fa-check"></i></span>
										Download ec public key 
									</button>
								</div>
							<!--/form-->
						</div>	

					</div>
	  				{%endif%}
	</form>
					
				</div>
				
			</div>

		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
