{% extends "layouts/base.html" %}

{% block title %} CRYPTOENCODE -  Cryptography, Encryption, Decryption, Certificate, Encode, Decode 
{% endblock %} 


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">CryptoEncode Studio</h2>
						<h5 class="text-white op-7 mb-2">암호 & 공개키 도구</h5>
					</div>
					
				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			
			<div class="row">
				
			</div>

			<div class="row row-card-no-pd">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<h4 class="card-title">메시지/파일 암복호화 서비스</h4>
									</div>
										<!--p class="card-category">
											Cryptographic data encode/decode, en/decrypt andß sign/verify</p>

										<p class="text-primary">This is a free and simple online tools for various cryptography service.
											As the communication is increasing rapidly nowadays, there is huge needs for the secure communication ways and cryptography is getting more important.
											This 'Cryptoencode.net' provides a package of various crypto technologies and we want to contribute to reduce your risk from the malicious activities.
										</p-->


										<p class="card-category">크립토인코드(Cryptoencode)는 정보보호가 취약한 중소기업에 최적화된 메시지/파일 암복호화 서비스로
											보안을 모르는 일반 사용자도 쉽게, 기존의 카카오톡과 같은 SNS와 각종 메일 시스템을 통한
											중요 내용이나 파일 송수신시 보안을 획기적으로 높여 중요 정보를 보호합니다.</p>
										<p></p>
										<p>개인 정보보호를 위해 사용자가 업로드한 각종 정보는 사용후 자동으로 서버에서 삭제되어 안전함을 더했습니다.</p>


						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-8">
									<div class="table-responsive table-hover table-sales">
										<table class="table">
											<tbody>
												
												<tr>
													<td>
														<h5>인코더(Encoder)</h>
													</td>
													<td>
														<p>BASE64 알고리즘을 테스트 할 수 있습니다. 또한 BASE16, BASE32, BASE85, Ascii-85 알고리즘을 이용하여 데이터를 인코딩할 수 있습니다. </p>
													</td>
												</tr>
												<tr>
													<td>
														<h5>암/복호화</h>
													</td>
													<td>
														<p>시용자가 업로드한 파일을 비밀키로 암호화 할 수 있습니다. 대칭키는 암복호화에 동일한 비밀키를 사용하지만, 비대칭키(RSA)의 경우 암호화에는 공개키를, 복호화에는 개인키를 사용합니다. 사용자의 개인키는 패스프레이즈에 의해 암호화되어 있습니다.</p>
													</td>
												</tr>
												

												
											</tbody>
										</table>
									</div>
								</div>
본 사이트는 고객의 보다 나은 서비스를 위해서 쿠키 정보를 수집하고 있습니다. 보다 자세한 사항은 개인정보보호정책을 참고해 주시기 바랍니다.
								<a href="/privacy_policy.html">&nbsp 개인정보보호정책</a>
								
							</div>
						</div>
					</div>
				</div>
			
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	

{% endblock javascripts %}
