{% extends "layouts/base.html" %}

{% block title %} 데모 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">쿠버네티스</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">쿠버</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">테스트</a>
					</li>
				</ul>
				
			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">쿠버네티스 파이썬 SDK</h4>
						</div>

						<div class="card-body">
							<form method="post" action="" enctype="multipart/form-data">	
							<div class="form-group ">
							
    							<div class="form-group">
											{{result}}
										
										<table class="table">
											<thead>
												<tr>
													<th scope="col">NAME</th>
													<th scope="col">STATUS</th>
													<th scope="col">VERSION</th>
												</tr>
											</thead>
											<tbody>
											{%for node in kubeConfList %}
												<tr>
													<td>{{ node['ip']}} </td>
													<td>{{ node['namespace']}} </td>
													<td>{{ node['name']}} </td>
												</tr>
											{%endfor%}
											</tbody>
										</table>
											
										<button class="btn btn-primary" type="submit" name="action" value="analyze"><span class="btn-label"><i class="fa fa-check"></i></span>
											누르면 뭔가 되는거...
										</button>
								</div>

							</form>
							</div>

						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">다이나믹 노드</h4>
						</div>
						<div class="card-body">
							<form method="post" action="" enctype="multipart/form-data">	
								<div class="form-group ">
								
									<table class="table">
										<thead>
											<tr>
												<th scope="col">NAME</th>
												<th scope="col">STATUS</th>
												<th scope="col">VERSION</th>
											</tr>
										</thead>
										<tbody>
										{%for node in kDynamicNode %}
											<tr>
												<td>{{ node['name']}} </td>
												<td>{{ node['status']}} </td>
												<td>{{ node['version']}} </td>
											</tr>
										{%endfor%}
										</tbody>
									</table>
								
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">쿠버네티스 API 리스트</h4>
							
						</div>
						<div class="card-body">
								<div class="form-group">
									{%for name, value in kConfigList.items() %}
										{{name}} : {{value}} <br>
									{%endfor%}
							    </div>
						</div>
					</div>
				</div>


				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">쿠버 노드 리스트</h4>
						</div>
						<div class="card-body">
								<div class="form-group">
									
										{%for name, value in kNodeList.items() %}
											<div class="card-sub">노드: {{name}}</div>
											<table class="table mt-3">
												<thead>
													<tr>
														<th scope="col">이름</th>
														<th scope="col">라벨</th>
													</tr>
												</thead>
												<tbody>
												{%for title, value in value.items() %}
													<tr>
														<td>{{title}}</td>
														<td>{{value}}</td>
													</tr>
												{%endfor%}
												</tbody>
											</table>
										{%endfor%}
									
							    </div>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</div>


	
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
