{% extends "layouts/base.html" %}

{% block title %} CRYPTOENCODE -  Verify Certificate,  Cerficate, PKIX{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Verify Certificate</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">PKIX</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Verify Certificate</a>
					</li>
				</ul>
				
			</div>

			{% if errtype and errmsg %}
 			<div class="alert alert-warning">
 				<button type="button" class="close" data-dismiss="alert">&times;</button>
 					ERROR: {{ errmsg }}
 			</div>
 			{% endif %}



			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Verify Certificate</h4>
						</div>

						<div class="card-body n-5">
							<form method="post" action="" enctype="multipart/form-data">	
								<div class="form-group">
									<span class="h4">
										Certificate issuance process:
									</span>
									<ol>
										<li>Converts data (Data) containing serial number, issuer, public key, etc. into hash value.</li>
										<li>An authorized authority signs the hash value with its own private key saying "I will prove this data".</li>
										<li>Then, a certificate is issued by combining the signed value (Signature) + data (Data).</li>
									</ol>

									<span class="h4">
										In the certificate verification stage
									</span>
									<ol>
										<li>The web browser receives the certificate passed from the server.</li>
										<li>The certificate has the public key of the higher authority, and the hash value is obtained by decrypting the signature.</li>
										<li>Hash value is obtained through the hash function of data existing in the certificate.</li>
										<li>Verification of the certificate is performed by comparing the hash values of the two.</li>
									</ol>

									<span class="h4">
										Signing and verifying
									</span>
									<div class="form-group">
								
										<div class="container float-left col-md-12">
											<img src="/static/assets/img/cert_sign_verify.jpeg" class="img-responsive" width="300">
										</div>
									</div>
								</div>

								
								

								<div class="form-group">
									<p></p>
									<label for="exampleFormControlFile1">PEM Certificate</label>
									<textarea class="form-control" id="pem-data" rows="10" name="inputtext" required>{{inputtext}}</textarea>
								</div>

								<div class="form-group">
									<label for="exampleFormControlFile1">CA(Certificate Authority) File</label>
									<input type="file" class="form-control-file" id="exampleFormControlFile1" name="cafile">
								</div>

								<div class="form-group">
									<label for="exampleFormControlFile1">Verification Options</label>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" name="check_ss_cert" value="">
												<span class="form-check-sign">Check Selfsigned Certificate</span>
											</label>
										</div>
									
								</div>

						
							

								<div class="form-group">
										<button class="btn btn-primary btn-round" type="submit" name="action" value="verify"><span class="btn-label"><i class="fa fa-check"></i></span>
											Verify
										</button>
								</div>

							
							</form>

						</div>
					</div>
				</div>

				{%if result %}
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Analyze Result</h4>
						</div>
						<div class="card-body">
								<div class="form-group">
									<pre>{{result}}</pre>
							    </div>
								{%if details%}
								<div class="form-group">
									<pre>{{details}}</pre>
							    </div>
								{%endif%}
						</div>
					</div>
				</div>
				{%endif%}
				
				
			</div>
		</div>
	</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
