{% extends "layouts/base.html" %}

{% block title %} CRYPTOENCODE -  Key sign, Key verify{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Sign/Verify</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Sign/Verify</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Public Key Sign/Verify</a>
					</li>
				</ul>
			</div>
            
            {% if errtype and errmsg %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
					ERROR: {{errmsg }}
			</div>
			{% endif %}

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Sign to file with rsa/ecc private key</h4>
							
						</div>
						<div class="card-body">

							<div class="form-group">
								<span class="h2">The Public Key Sign Verify</span>
									<ul>
									<li><strong>Elliptic Curve Digital Signature Algorithm</strong> or <strong>ECDSA </strong>is a cryptographic algorithm used by Bitcoin to ensure that funds can only be spent by their rightful owners.</li>
									<li>This online tool is capable of generating key the the curve</li>

									<li><strong>RSA</strong>(The Rivest-Shamir-Adleman) algorithm is one of the most popular and secure public-key encryption methods.</li>
									<li>The algorithm capitalizes on the fact that there is no efficient way to factor very large (100-200 digit) numbers</li>
									</ul>

									<p>A few concepts related to Key pair/Signature:</p>

									<ul>
										<li>private key: A secret number, known only to the person that generated it. A private key is essentially a randomly generated number. In Bitcoin, a private key is a single unsigned 256 bit integer (32 bytes).</li>
										<li>public key: A number that corresponds to a private key, but does not need to be kept secret. A public key can be calculated from a private key, but not vice versa. A public key can be used to determine if a signature is genuine (in other words, produced with the proper key) without requiring the private key to be divulged.</li>
										<li>signature: A number that proves that a signing operation took place.</li>
										<p></p>
										<li>EC Private Key file sample</li>
										
										<textarea class="form-control animated" rows="5" name="publickeyparam" id="publickeyparam">-----BEGIN EC PRIVATE KEY-----
MHQCAQEEIMxztMqb7QSUP3MWl9LiLFkdOiGewzK22wOpWPyWJUJZoAcGBSuBBAAK
oUQDQgAE6Ww2WOPRVEOnvl0FEgxdlHXo/O/7yP81i3PUF86iqM/DZZDjRu1eM8ck
UCIuFYrfiC01GK5ZrravfSXMWuoTQA==
-----END EC PRIVATE KEY-----</textarea>
										<li>RSA Private Key file sample</li>
										<textarea class="form-control animated" rows="7" name="publickeyparam" id="publickeyparam">-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDS/CmSNyaF61fnn/ZoinhcP/Vh
...
74Vdm3vU0LlfZSDMJwIDAQAB
-----END PUBLIC KEY-----

----BEGIN RSA PRIVATE KEY-----
MIICXAIBAAKBgQDS/CmSNyaF61fnn/ZoinhcP/VhfgPWqKf45HibclXqtCMnxvFS
tKJ7Vlzo2F7tMW2bZPcTSsVYHwndWIIZEic4OtzerQCyvQqEDl1PwSmXRaQc/Pdc
...
ZsnHNoCu/t1mZP6FkuX9+B1afN9EcJ4ody5xUwMBw98=
-----END RSA PRIVATE KEY-----	</textarea>
									</ul>

							</div>


							<form method="post" action="" enctype="multipart/form-data">

								<div class="form-group">
									<label for="exampleFormControlFile1">Message File for sign</label>
								    <input type="file" name="inputfile" class="form-control-file" id="inputfile" required>
									{% if errtype == 'inputfileerror' %}
										<p class="text-danger">Error : {{ errmsg }}</p>
									{% endif %}
								</div>

								<div class="form-group">
									<label for="exampleFormControlFile1">Signagture File for verification</label>
								    <input type="file" name="sigfile" class="form-control-file" id="sigfile">
									{% if errtype == 'sigfileerror' %}
									<p class="text-danger">Error : {{ errmsg }}</p>
									{% endif %}
								</div>

								<div class="form-group">
									<label for="exampleFormControlFile1">Key File(Certificate/Private Key)</label>
								    <input type="file" name="keyfile" class="form-control-file" id="keyfile" required>
									{% if errtype == 'keyfileerror' %}
										<p class="text-danger">Error : {{ errmsg }}</p>
									{% endif %}
								</div>

								

								<div class="form-check">
									<label>Certificate/Private Key File Format: </label>
									<label class="form-radio-label">
										<input class="form-radio-input" type="radio" name="inform" value="PEM" checked="">
										<span class="form-radio-sign">PEM</span>
									</label>

									<label class="form-radio-label">
										<input class="form-radio-input" type="radio" name="inform" value="DER" >
										<span class="form-radio-sign">DER</span>
									</label>
								</div>
								
								<div class="form-group">
									<label for="password">Input password for sign</label>
									<input type="password" class="form-control" id="inpass"  name="inpass" placeholder="Private key password">
									{% if errtype == 'inpasserror' %}
									<p class="text-danger">Error : {{ errmsg }}</p>
									{% endif %}
								</div>
								
								<div class="form-group">
										<button class="btn btn-primary btn-round btn-border" type="submit" name="action" value="sign"> <span class="btn-label"><i class="fas fa-lock"></i></span>
											Sign with Private Key
										</button>

		    							<button class="btn btn-secondary btn-round btn-border" type="submit" name="action" value="verify" ><span class="btn-label"><i class="fas fa-check-circle"></i></span>
											Verify with X509 Certificate
										</button>
								</div>
						    </form>
						</div>
					</div>
				</div>

				
			</div>

            {%if verify_message%}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-header">
                                <h4 class="card-title">Verification Result</h4>
                            </div>
                            <div class="card-body">
                                <form method="post" action="" enctype="multipart/form-data">
                                    <div class="form-group">
                                            <pre>{{verify_message}}</pre>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
			{%endif%}
            
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
