{% extends "layouts/base.html" %}

{% block title %} Encrypt/Decrypt Analyzer {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">File Encryption</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Encrypt/Decrypt</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">File Encryption</a>
					</li>
				</ul>
			</div>

			{% for message in get_flashed_messages() %}
 			<div class="alert alert-warning">
 				<button type="button" class="close" data-dismiss="alert">&times;</button>
 					{{ message }}
 			</div>
 			{% endfor %}


			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Select file to encrypt</h4>
							
						</div>
						<div class="card-body">
							<form method="post" action="" enctype="multipart/form-data">
							<div class="form-group">
								
								<div class="form-group">
									<div class="form-group">
									    <label for="exampleFormControlFile1">Input File</label>
									    <input type="file" name="plainfile" class="form-control-file" id="exampleFormControlFile1">
								    </div>
								</div>

								<div class="form-group">
									<div class="form-group">
										<label for="defaultSelect">Select encryption algorithm</label>
										<select class="form-control form-control" name="enc_alg" id="defaultSelect">
											<option>aes128</option>
											<option>aes192</option>
											<option>aes256</option>
											<option>aes-128-cbc</option>
											<option>aes-192-cbc</option>
											<option>aes-256-cbc</option>
											<option>aes-128-ecb</option>
											<option>aes-192-ecb</option>
											<option>aes-256-ecb</option>
										</select>
									</div>

								<div class="form-group">
									<label for="password">Input password</label>
									<input type="password" class="form-control" id="password" placeholder="Password">
								</div>
								<div class="form-group">
									<label for="password">Confirm Password</label>
									<input type="password" class="form-control" id="password" placeholder="Password">
									<span class="help-block"><p>form-group has-error neeeeed to make it RED.</p></span>  
								</div>


								<div class="form-group">
									<p class="demo">
											
										<button class="btn btn-primary" type="submit" name="cipher" value="enc"> <span class="btn-label"><i class="fa fa-check"></i></span>
											Encrypt
										</button>

		    							<button class="btn btn-secondary" type="submit" name="cipher" value="dec" ><span class="btn-label"><i class="fas fa-circle-notch"></i></span>
											Decrypt
										</button>
		
									</p>
								</div>

							</div>
						    </form>
						</div>
					</div>
				</div>

				
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
