{% extends "layouts/base.html" %}

{% block title %} PEM Analyzer {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">PEM Data Analyzer</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Analyzer</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">PEM Analyze</a>
					</li>
				</ul>
				
			</div>

			{% for message in get_flashed_messages() %}
 			<div class="alert alert-warning">
 				<button type="button" class="close" data-dismiss="alert">&times;</button>
 					{{ message }}
 			</div>
 			{% endfor %}



			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Decode PRM/DER/ASN.1 Data</h4>
						</div>

						<div class="card-body n-5">
							<form method="post" action="" enctype="multipart/form-data">	
							
								
								<div class="form-group">
									<ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#in-text" role="tab" aria-controls="pills-home" aria-selected="false">Text</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#in-file" role="tab" aria-controls="pills-profile" aria-selected="true">File</a>
										</li>
										
									</ul>

									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade show active" id="in-text" role="tabpanel" aria-labelledby="pills-home-tab">
											<textarea class="form-control" id="pem-data" rows="10" name="inputtext" style="{{env.textarea_style}}" required>{{inputtext}}</textarea>
										</div>

										<div class="tab-pane fade" id="in-file" role="tabpanel" aria-labelledby="pills-profile-tab" name="infile-tab">
											
											<div class="form-group">
												<label for="exampleFormControlFile1">Input File</label>
												<input type="file" class="form-control-file" id="exampleFormControlFile1" name="inputfile">
											</div>

											<div class="form-group">
												<label for="defaultSelect">Select File Format</label>
												<select class="form-control form-control" id="pem_selected" name="informat">
													<option value="crl">CRL(Certificate Revocation List)</option>
													<option value="crt">CRT(X.509 Certificate)</option>
													<option value="csr">CSR(Certificate Signing Request)</option>
													<!--option value="newcsr">New CSR</option-->
													<option value="csr">New CSR</option>
													<option value="rsaprikey">RSA Private Key</option>
													<option value="pkcs7">PKCS7</option>
													<option value="ecpripkey">Elliptic Curve Private Key</option>
													<option value="rsapubkey">RSA Public Key</option>
													<option value="enc_rsaprikey">Encrypted Private Key</option>
													<option value="cms">CMS</option>
												</select>

											</div>
											
										</div>
									</div>
								</div>	

								<div class="form-group">
									<details>
										<summary>
											PEM(Privacy Enhanced Mail) 데이터
										</summary>
										<span>
											<ul>
												<li>PKCS#1 RSAPublicKey  (PEM header:  <code>BEGIN RSA PUBLIC KEY</code>)</li>
												<li>PKCS#8 EncryptedPrivateKeyInfo  (PEM header:  <code>BEGIN ENCRYPTED PRIVATE KEY</code>)</li>
												<li>PKCS#8 PrivateKeyInfo (PEM header:  <code>BEGIN PRIVATE KEY</code>)</li>
												<li>X.509 SubjectPublicKeyInfo  (PEM header:  <code>BEGIN PUBLIC KEY</code>)</li>
												<li>X.509 Certificate (PEM header:  <code>BEGIN CERTIFICATE</code>)</li>
												<li>CSR PEM header : (PEM header:<code>----BEGIN NEW CERTIFICATE REQUEST-----</code>)</li>
												<li>PKCS7(PEM header:<code>-----BEGIN PKCS7----</code>)</li>
												<li>X509 Certificate Revocation List: (PEM header: (<code>-----BEGIN X509 CRL----</code>)</li>
												<li>EC Private Key Info: (PEM header: (<code>-----BEGIN EC PRIVATE KEY----</code>)</li>
											</ul>
										</span>

									</details>
								</div>


								{% if errtype == 'inpass' %}
								<div class="form-group has-error ">
								{% else %}	
								<div class="form-group">
								{% endif %}	
									<label for="password">Password</label>
									<input type="password" class="form-control" name="inpass" id="inpass" placeholder="Input password">
								</div>

								<div class="form-check">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" name="asn1mode" value="true">
										<span class="form-check-sign">ASN.1 Parsing</span>
									</label>
								</div>

								
								<div class="form-group">
									<p class="demo">
											
										<button class="btn btn-primary" type="submit" name="action" value="analyze"><span class="btn-label"><i class="fa fa-check"></i></span>
											Analyze
										</button>

		    							<button class="btn btn-warning" type="submit" name="action" value="clear"><span class="btn-label"><i class="fas fa-circle-notch"></i></span>
											Clear
										</button>
		
									</p>
								</div>

							
							</form>

						</div>
					</div>
				</div>

				{%if result or errmsg%}
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Analyze Result</h4>
						</div>
						<div class="card-body">
								<div class="form-group">
									{% if errtype == 'error' %}
										<p class="text-danger">{{ errmsg }}</p>
									{% endif %}
									<pre>{{result}}</pre>
							    </div>
						</div>
					</div>
				</div>
				{%endif%}
				
				
			</div>
		</div>
	</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
