
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                        
								<h6>㈜그린존시큐리티</h6>
								<h6> 벤처기업인증 : 제20210300230호, 이노비즈기업(Inno-Biz)인증 : 제200303-00602호 </h6>
								<h6>Copyright © 2022 GreenZone Security Co., Ltd. All rights reserved.</h6>
						
							</li>
						</ul>
					</nav>


					<!--div class="copyright ml-auto">
                        
							<p>㈜그린존시큐리티</p>
							<p> 벤처기업인증 : 제20210300230호, 이노비즈기업(Inno-Biz)인증 : 제200303-00602호 </p>
							<p>Copyright © 2022 GreenZone Security Co., Ltd. All rights reserved.</p>
					</div-->				
				</div>
            </footer>
            