		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

					
{#
	<!--
				{% if current_user.is_authenticated %}
				
					<ul class="nav nav-primary">
						<li class="mx-4 mt-2">
							<a target="_blank"
							href="#" 
							class="btn btn-danger btn-block">
								<span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>USER AUTH VERSION</a> 
						</li>
					</ul>

				{% else %}
	-->
#}


			{% if current_user.is_authenticated %}

				

				<div class="user">

					<img src="/static/assets/img/logoo.png" alt="..." class="avatar-img rounded-circle">
					<br>
				
				</div>
					
					<ul class="nav nav-primary">
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">암호서비스</h4>
						</li>

						<li class="nav-item {% if 'generator-' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#generator">
								<i class="fas fa-cube"></i> <p>인코더</p> <span class="caret"></span>
							</a>
												
							<div class="collapse" id="generator">
								<ul class="nav nav-collapse">
									<li> <a href="/generator-base64.html"> <span class="sub-item">Base64</span> </a> </li>
								</ul>
							</div>
						</li>


						<li class="nav-item {% if 'cipher-' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#cipher">
								<i class="fas fa-unlock-alt"></i> <p>암/복호화</p> <span class="caret"></span>
							</a>

							<div class="collapse" id="cipher">
								<ul class="nav nav-collapse">
									<li> <a href="/cipher-encrypt.html"> <span class="sub-item">대칭키 암호화</span> </a> </li>
									<li> <a href="/cipher-pubkey_encrypt.html"> <span class="sub-item">공개키 암호화</span> </a> </li>
								</ul>
							</div>
						</li>
					</ul>

			{% else %}					
					<ul class="nav nav-primary">
						<li class="mx-4 mt-2">
							<a href="/login" class="btn btn-primary btn-block"> 
								<span class="btn-label mr-2"> 
									<i class="fas fa-user-circle"></i> 
								</span>Login
							</a> 
						</li>
					</ul>
				
			{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        
